h1 {color: blue;}
h2 {color: red;}

/*use # for summary definition*/
img {float: right;}

#header {overflow: hidden;}

#summary {
clear: both;
	border: 1px solid black;
background-color: lightgrey;
padding: 20px;
margin-top: 20px;}

/*use . for class defnition*/
.purple {color: purple;}

